* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;

    color: #333333;
    font-family: 'Poppins', sans-serif;

}

/* main properties */

h1{
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 3rem;
}

h2{
    font-weight: 500;
    font-size: 2rem;
}

h3{
    font-weight: 500;
    font-size: 1.75rem;
}

h4{
    font-weight: 500;
    font-size: 0.875rem;
    color: #2D9CDB;
}

h5{
    font-weight: 400;
    font-size: 1rem;

    color: #4F4F4F;
}

h6{
    font-size: 0.93rem;
    font-weight: 500;
}



input:focus{
    outline: none;
}

button{
    cursor: pointer;
}


/* custom classes */

    /* blue button */

.blueButton{
        color: #F2F2F2;
        background-color: #2D9CDB;
    
        border-style: none;
        border-radius: 12px;
        
        padding: 11px 20px;
        
        font-weight: 400;

        transition: background-color 0.7s ;
}

.blueButton:hover{
    background-color: #1fb2e7;
}

/* header properties */
header {
    width: 90%;
    max-width: 1500px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    width: 60%;
    max-width: 800px;

    display: flex;
    justify-content: space-between;
}

header nav a {
    font-weight: 500;
}

header nav a:hover{
    font-weight: 600;
}

.header__nav--spanIcon {
    display: none;

    font-size: 32px;
}

/* main container properties */

.container {
    width: 90%;
    max-width: 1500px;

    margin-left: auto;
    margin-right: auto;
}

article {
    margin-top: 8vh;
}

/* articleOne properties  */

.articleOne {
    width: 100%;
    height: 100%;
}

.elementOne--divText {}

.elementOne--divText,
.elementOne--contactDiv {

    margin-left: 15%;

    display: inline-block;
}

.elementOne--contactDiv label{
    color: #828282;
}

.elementOne__contactDiv--input{

    border-radius: 12px;
    display: inline-block;
    background-color: #F2F2F2;
}

.elementOne__contactDiv--input input{

    max-width: 300px;
    width: 59vw;

    height: 50px;

    padding-left: 15px;

    border-radius: 12px;
    border-style: none;

    background-color: #F2F2F2;

    font-weight: 500;

}
.elementOne__contactDiv--input button{
    margin-right: 5px;
}



.elementOne--imageDiv {}

.elementOne--imageDiv img {
    width: 100%;
    height: 100%;

    border-radius: 18px;
}

.elementOne--contactDiv {}

.elementOne__contactDiv--textDiv {
    min-width: 280px;
    max-width: 400px;
}

/* articleOne properties  */

.articleTwo{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1400px;
}

.articleTwo h3 {
    margin-left: 5%;
}

.articleTwo--cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.articleTwo__cardContainer--card {
    width: 30%;
    max-width: 350px;

    padding: 30px;

    display: flex;
    flex-direction: column;
    
    cursor: pointer;

    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px;

    transition: box-shadow 0.6s;
    transition: transform 0.3s;
}

.articleTwo__cardContainer--card:hover{
    box-shadow: 0px 5px 10px #2D9CDB;
    transform: translateY(-10px);
}



.articleTwo__cardContainer__card--content{
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.articleTwo__cardContainer__card__content--spanDiv {
    display: inline-block;
    border-radius: 12px;
    width: 56px;
}

.backgroudColorBlue{
    
    background-color: #2D9CDB;
}

.backgroudColorGreen{
    background-color: #27AE60;
}

.backgroudColorRed{
    background-color: #EB5757;
}

.articleTwo__cardContainer__card__content--spanDiv span {
    margin: 14px;

    color: white;
    font-size: 28px;

    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' -25,
    'opsz' 40
}

.articleTwo__cardContainer__card--content h5{
    color: #333333;
    font-size: 1.1rem;
    font-weight: 700;
}

.articleTwo__cardContainer__card--content p{
    max-width: 250px;
    width: 90%;

    color: #4F4F4F;
    font-size: 0.8rem;
    font-weight: 400;
}

.articleTwo__cardContainer__card--content button{
    width: 120px;
}




/* articleThree properties  */

.articleThree{
    width: 90%;
    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;
}

.articleThree--cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 4rem;
    column-gap: 1rem;

    
}

.articleThree__cardContainer--card {

}

.articleThree__cardContainer--card p{
    color: #828282;
    font-weight: 300;
    font-size: 0.55rem;
}
.articleThree__cardContainer--card h5{
    font-weight: 500;
}

@media only screen and (min-width: 700px){
    .articleThree__cardContainer--card:nth-child(1), .articleThree__cardContainer--card:nth-child(3){
        transform: translateY(25%);
    }
}

.articleThree__cardContainer__imgDiv {
    display: inline-block;
    width: 100%;
    max-width: 400px;
}



.articleThree__cardContainer__imgDiv img {
    max-width: 100%;
    max-height: 100%;

    border-radius: 12px;
}
.articleThree--textDiv{
    max-width: 1050px;
}
.articleThree--textDiv a{
    display: flex;
    justify-content: end;
    align-items: center;

}

.articleThree--textDiv h4 {
    display: inline-block;
}

.spanArrow{
    color: #2D9CDB;
}





/* articleFour properties */

.articleFour{
    width: 90%;
    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.articleFour--textDiv{

}

.articleFour--textDiv h6{
    color: #EB5757;
}

.articleFour--textDiv p{
    color: #4F4F4F;
    font-size: 0.8rem;
    font-weight: 400;
}


.articleFour--photosDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem
}

.gridSpan--Row2{
    grid-row-end: span 2;
}

.articleFour__photosDiv--imgDiv{
    
}

.articleFour__photosDiv--imgDiv img{
    border-radius: 12px;

    height: 100%;
}

.articleFour__photosDiv__imgDiv--image1{
    width: 95%;
}
.articleFour__photosDiv__imgDiv--image2{
    width: 80%;
}
.articleFour__photosDiv__imgDiv--image3{
    width: 70%;
}


/* articleFive */
.articleFive{
    width: 90%;
    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;
}

.articleFive h3{
    font-weight: 500;
    max-width: 800px;
    width: 90%;
}

.articleFive h3::before{
    content: open-quote;
} 
.articleFive h3::after{
    content: close-quote;
} 

.articleFive--bottomDiv{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.articleFive--bottomDiv h5{
    font-weight: 500;
    font-size: 1.5rem;
}



.articleFive--bottomDiv p{
    font-weight: 500;
    color: #828282;
    font-size: 0.8rem
}

.articleFive--bottomDiv img{
    border-radius: 12px;
    width: auto;
    height: 80px;
}

/* footer */

footer{
    margin-top: 8vh;
    background-color: #100E1D;
}

footer h1, label{
    color: #F2F2F2;
}

footer a{
    color: #FFFFFF;
}
.footerDiv{
    

    width: 90%;
    max-width: 1400px;

    padding-top: 2rem;

    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footerDiv--linksDiv{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer--socials{
    margin-top: 6rem;
    padding-bottom: 2rem;
    text-align: center;

    color: #F2F2F2;
    
}

.footer--socials a, u{
    color: #F2F2F2;
}