@media only screen and (max-width: 700px) {

    /* navigation */
    header nav {
        width: auto;
    }

    nav a{
        display: none;
    }
    .header__nav--spanIcon{
        display: block;
    }

    /* articleTwo */

    .articleTwo--cardContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .articleTwo__cardContainer--card{
        width: 95%;
    }


}